.navbar {
    background-color: #00f;
}
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}
.jumbotron {
    padding: 10rem 1rem ;
    background-color: #0000FF;
    text-align: center;
}
.foot {
    background-color: #00f;
}
.yoga {
  padding: 10rem 1rem ;
  text-align: center;
}
.display-4{
  font-size: 15;
}



body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #07575b;
}

.right {
  right: 0;
  background-color: #66a5ad;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}




/* dekstop version */
@media (min-width: 992px) {
    .nav-link:hover {
        border-bottom: rgb(57, 4, 202);
    }
    .display-4 {
      font-size: 31;
    }
    .jumbotron, .yoga{
      text-align: left;
      
    }
 }